.toggle-btn{
    display: none;
}
@media (max-width:793px){
    .toggle-btn{
        display: block;
        background-color: transparent;
        border: none;
        cursor: pointer;
       
    }
   /* .hidde-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   } */
}