.user-list{
    padding-top: 10%;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.no-user{    
    margin-top: 20vh;
    font-size: 30px;
    font-weight: 500;
    background-color: rgb(186, 63, 63);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:378px){
    .id-class{
        display: none;
        
    }
    .user-list{
        margin-left: 5px;
    }
    .user-info{
        font-size: 12px;
    }
}
@media (max-width:450px){
    .id-class{
        display: none;
        
    }
    .user-list{
        margin-left: 5px;
    }
    .user-info{
        font-size: 12px;
    }
}
