.sermons .aricle .article-img {
  cursor: pointer;
  height: 200px;
}
.sermons .aricle:hover {
  transform: translateY(3px);
}
.author-info{
    display: flex;
    align-items: center;
    gap: 5px;  
}
.profile-picture{
max-width: 40px;
height: 40px;
border-radius: 50%;
}
.recent-sermons, .recent-articles{
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  font-size: 18px;
  font-weight: 500;
  font-style: italic;
  color: rgb(133, 130, 130);
}