.sermon-detail{
  /* margin:10px auto; */
  width: 100%;
  margin-bottom: 2rem;
}
/* Create Sermon */
.create-sermon{
  width: 800px;
margin: 6rem auto;
margin-bottom: 10rem;
}
.create-sermon h1,.update-sermon h1{
  font-size: 20px;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
}
.sermon-inputs{
display: flex;
flex-direction: column;
gap: 10px;
}
.sermon-inputs input{
   padding: 20px;
}
.file-uploader{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.label{
  display: flex;
  gap: 10px;
  background-color: lightgray;
  padding: 10px;
  margin-bottom: 1rem;
}
.sermon-content{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.2s;
 
}
.sermons{
  margin-bottom: 2rem;
}

.delete-btn{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(51, 47, 47, 0.8);
}
.delete-btn h3{
  color: rgb(223, 218, 218);
  font-size: 20px;
}
.delete-btn > div{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
}
.create-btn{
  position: absolute;
  top: 6rem;
  right: 2rem;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  
}
.video-link, .audio a{
  background-color: rgb(166, 160, 160);
  padding: 10px;
  text-decoration: none;
  border-radius: 10px;
  color: black;
  
}

.audio-content{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.audio{
  width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    gap: 40px;
height:250px;
}
.audio a, .video-link{
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}

.youtube-video{
  display: flex;
}
.youtube{
  min-height: 80vh;
  min-width:90vw;

}
@media (max-width:378px){
  .youtube{
  max-width: 360px;

}
.create-sermon{
  max-width: 360px;
  padding: 10px;
}
.sermon-inputs, .file-uploader{
  max-width: 330px;
}
.label{
  display: flex;
  flex-direction: column;
}
}

@media (min-width:379px) and (max-width:450px){
  .youtube{
  max-width: 360px;

}
.create-sermon{
  max-width: 360px;
  padding: 10px;
}
.sermon-inputs, .file-uploader{
  max-width: 330px;
}
.label{
  display: flex;
  flex-direction: column;
}
}
@media (max-width:768px){
   .create-sermon{
 max-width: 760px;
    overflow: hidden;
    margin-left: 1rem;
    margin-right: 4rem;
}
}
@media (min-width:450px) and (max-width:768px){
   .youtube{
  min-width: 760px;

}
.file-uploader, .sermon-inputs{
  width: 90%;
}
.label{
  display: flex;
  flex-direction: column;
}
}
@media (max-width:820px){
     .youtube{
  min-width: 800px;

}
}