.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 6rem;
}
.articles .articles-detail {
  margin: 2rem;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.articles .articles-detail .aricle {
  background-color: rgb(235, 234, 234);
  display: flex;
  flex-direction: column;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  transition: 0.3s all;
  max-height: 690px;
}
.articles .articles-detail .aricle .article-img {
  padding: 10px;
  cursor: pointer;
  height: 200px;
  
}
.articles .articles-detail .aricle:hover {
  transform: translateY(3px);
}
.author-info{
    display: flex;
    align-items: center;
    gap: 5px;  
}
.upper-part{
  flex: 1;
}
.profile-picture{
max-width: 40px;
height: 40px;
border-radius: 50%;
}
.article-title{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.created-date{
  font-style: italic;
}
.article-title h3{
  padding: 10px;
}
.article-title p, .author-info {
  padding: 0 10px;
}

.sermon-detail{
  margin:5rem auto;
  width: 100%;
  margin-bottom: 10rem;

}
/* Create Sermon */
.create-sermon{
  width: 800px;
margin: 6rem auto;
margin-bottom: 10rem;
}
.update-sermon{
  margin-top: 5rem;
  margin-bottom: 10rem;
}
.sermon-inputs{
display: flex;
flex-direction: column;
gap: 10px;
}
.sermon-inputs input{
   padding: 20px;
}
.file-uploader{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.label{
  display: flex;
  gap: 10px;
  background-color: lightgray;
  padding: 10px;
  margin-bottom: 1rem;
}
.sermon-content{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.2s;
 
}
.sermons{
  margin-bottom: 8rem;
}

.delete-btn{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(51, 47, 47, 0.8);
}
.delete-btn h3{
  color: rgb(223, 218, 218);
  font-size: 20px;
}
.delete-btn > div{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
}
.create-btn{
  position: absolute;
  top: 6rem;
  right: 2rem;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  
}
.video-link, .audio a{
  background-color: rgb(166, 160, 160);
  padding: 10px;
  text-decoration: none;
  border-radius: 10px;
  color: black;
  
}
.audio{
  margin-top: 1rem;
}
.audio-content{
  margin-top: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.audio{
  width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
height:200px;
}
.audio a, .video-link{
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}

.youtube-video{
  display: flex;
 margin-top: 1rem;
}
.youtube{
  min-height: 80vh;
  min-width:80vw;

}
@media (max-width:360px){
  .youtube{
  max-width: 360px;

}
.create-sermon{
  max-width: 360px;
  padding: 10px;
}
}
@media (max-width:768px){
   .create-sermon{
 max-width: 760px;
    overflow: hidden;
    margin-left: 1rem;
    margin-right: 4rem;
}
}