.footer-box{
    background-color: rgb(173, 164, 164);
     display: flex;
    justify-content: center;
    align-items: center;
    gap: 30%;
    padding: 1rem;

}
.footer{
   
    font-weight: 400;
    font-style: italic;
    transition: all 0.5ms;
}
.icon{
    padding:0 0.5rem ;
    color: black;
}
.icon:hover{
    color: rgb(141, 138, 138);
}
.social-media-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.social-media-links p{
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
}

