.book-screen,.create-book, .book-detail{
    margin-top: 8rem;
    flex-wrap: nowrap;
    position: relative;
    margin-bottom: 5rem;
}
.create-book{
    display: flex;
    flex-direction: column;
    margin: 6rem auto;
    gap: 10px;
    margin-bottom: 10rem;
   
}
.create-book input{
    padding: 10px;
}
.create-book .book-btn{
    color: white;
    max-width: 150px;
}
.new-book{
    position: absolute;
    right: 2rem;
    top: -2.5rem;
    text-decoration: none;
    color: rgb(32, 32, 180);
    font-size: 20px;
    font-weight: 500;
 
}
.new-book:hover{
    color: rgb(72, 72, 241);
}
.book-detail{
    margin-top: 5rem;
}
.bookdetail{
    z-index: 1001;
    min-height: 100vh;
}
.bookdetail iframe{
height: 100vh;
 z-index: 1001;
}
.image-box{
    gap: 20px;
    display: flex;
    flex-wrap: wrap;  
}
.container{
    flex-wrap: nowrap;
}
.cover-image{
    width: 250px;
    height: 200px;
     gap: 20px;
    cursor: pointer;
transition:  all .2s;
}

.book-info{
    transition:  transform 10s;
}
.book-info img {
    
    padding-bottom: 2px;
    border-bottom: 4px solid black;
}
.book-info img:hover{
    transform: scaleY(1.1);
}
.book-info p{
   max-width:250px; 
   font-size: 18px;
   margin-top: 10px;
}
.book{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin: 10rem auto ;
    gap: 100px;
    align-items: center;
}
.book-information{
   min-height: 300px;
   border-left: 1px solid gray;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   padding: 10px 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.book-information h2{
    font-size: 18px;
}.book-information h3{
    font-size: 16px;
}
.read{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-items: center;
     min-height: 300px;
     width: 60%;
}
.read button{
    background-color: rgb(206, 206, 222);
    padding: 10px 15px;
    width: 100%;
    font-size: 20px;
    color: black;
}
@media (max-width:360px){
    .read{
     min-height: 300px;
     width: 50%;
     margin-left: 10px;
}
.book{
   
    margin: 10rem auto ;
    gap: 20px;
    align-items: center;
}
.book-information{
    margin-right: 10px;
}
.read button{
   
    padding: 10px 15px;
    width: 100%;
    font-size: 18px;
    color: black;
}
.create-book{
    margin-left: 1rem;
    margin-right: 1rem;
}
}