*{
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
 box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: lightgray; */
   background-color: rgb(249, 246, 246);
   position: relative;
}
.small-container, .search{
  margin-top: 5rem;
}
.site-container {
  min-height: 100vh;
}
.navbar {
  background-color: rgb(255, 251, 251);
  box-shadow: 0 0 5px rgba(60, 59, 59, 0.3);
  width: 100%;
  position: fixed;
  z-index: 1000;
  min-height: 80px;
}
.text-primary {
  font-size: 30px;
  font-weight: 500;
}
.navlink {
  gap: 50px;
}
.link {
  text-decoration: none;
  font-size: 18px;
  /* padding:  0 2px; */
  font-weight: 500;
  color: gray;
  transition: 0.3s all;
  width: 25%;
}
.link:hover {
  color: rgb(167, 156, 156);
  /* border-bottom: 1px solid gray;
  width: 100%; */
}
.isActiveLink:hover {
 color: rgb(167, 156, 156);
  border-bottom: 1px solid gray;
  /* width: 23%; */
}
.isNotActiveLink{
color: rgb(167, 156, 156);
 font-size: 20px;
  /* width: 23%; */
}
.isActiveLink{
   text-decoration: none;
  font-weight: 500;
  color: rgb(108, 102, 102);
   border-bottom: 1px solid gray;
}

.homescreen {
  display: flex;
  flex-direction: column;
}
#top-div {
  margin-bottom: 4rem;
}
.imageslider {
position: relative;
overflow: hidden;
background-image: url('../public/images/image1.JPG');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
height: 400px;
width: 100%;
background-attachment: fixed;
display: flex;
align-items: center;
filter: blur(1px);
-webkit-filter: blur(1px);
z-index: 1;

}
.sliding-text-container{
  padding: 30%;
  color: rgb(226, 226, 234);
  background-color: rgba(60, 59, 59, 0.3);
  margin-top: 20vh;
   white-space:nowrap;
  font-size: 50px;
  font-weight: 500;
  z-index: -100;
}
.fas {
  font-size: 25px;
  cursor: pointer;
}
.fa-chevron-right {
  padding-right: 20px;
}
.aricle {
  display: flex;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  max-width: 300px;
}
.article-img{
 
}
.aricle img {
  width: 300px;
  
}
.recent {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.recent-things{
  margin-top: 1rem;
  font-size: 18px;
  font-weight: 500;
  font-style: italic;
}
.small-container {
  max-width: 600px;
}

.article-detail {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
  position: relative;
}
.article-detail .article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
.article-content{
  max-width: 60%;
}
.article-detail .article > img {
  max-width: 400px;
  padding: 10px;
}
.article-detail .article > p {
  font-size: 16px;
}
.article-detail .article > h4 {
  font-size: 16px;
}
.author-profile{
  display: flex;
  align-items: center;
  gap: 20px;
}
.author-name-title p{
  font-style: italic;
}
.author-name-title .name  {
  margin-bottom: 0;
  font-size: 20px;
}
.author-name-title .title{
  margin-top: 0;
}
.btns{
  display: flex;
  gap: 20px;
}
.new-btn{
  position: absolute;
  top: -10px;
  right:  50px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
}
.new-btn:hover{
  color: rgb(87, 191, 225);
}
.hidde{
  display: none;
}
.motion-box{
  display: none;
}
@media (max-width:793px){
  .hidde-content{
    display: none;
  }
  .motion-box{
  display: block;
}
  .hidde{
  display: flex;
  flex-direction: column;
}
.navbar{
   position: relative;
  min-height: 80px;
}
      
}