body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: lightgray; */
}

.site-container {
  min-height: 100vh;
}
.navbar {
  background-color: rgb(230, 227, 227);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  /* position: fixed;
  top: 0; */
  width: 100%;
  /* margin-bottom: 4rem; */
}
.text-primary {
  font-size: 30px;
  font-weight: 500;
}
.navlink {
  gap: 30px;
}
.link {
  text-decoration: none;
  font-size: 18px;
  /* padding: 3px; */
  font-weight: 500;
  color: gray;
  transition: 0.3s all;
}
.link:hover {
  color: rgb(167, 156, 156);
  border-bottom: 2px solid gray;
}
.homescreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 5rem;
}
#top-div {
  margin-bottom: 4rem;
}
.imageslider {
  display: flex;
  align-items: center;
  gap: 10px;
}
.imageslider .img {
  width: 60vw;
  height: 65vh;
  /* filter: blur(1px); */
  transition: 0.1s all;
}
.imageslider button {
  border: none;
  background-color: white;
}
.banner_fadebottom {
  height: 7.4rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.4),
    #111
  );
}
.fas {
  font-size: 25px;
  cursor: pointer;
}
.fa-chevron-right {
  padding-right: 20px;
}
.aricle {
  display: flex;
  display: flex;
  align-items: flex-start;

  flex-direction: column;
  max-width: 300px;
}
.aricle img {
  width: 300px;
}
.recent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-top: 2rem;
}
.recent > div {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.small-container {
  max-width: 600px;
}
/* article-detail */

.article-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  position: relative;
}
.article-detail .article {
  max-width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.article-detail .article > img {
  max-width: 400px;
  padding: 10px;
}
.article-detail .article > p {
  font-size: 16px;
}
.article-detail .article > h4 {
  font-size: 16px;
}
.author-profile{
  display: flex;
  align-items: center;
  gap: 20px;
}
.author-name-title p{
  font-style: italic;
}
.author-name-title .name  {
  margin-bottom: 0;
  font-size: 20px;
}
.author-name-title .title{
  margin-top: 0;
}
.btns{
  display: flex;
  gap: 20px;
}
.new-btn{
  position: absolute;
  top: -50px;
  right:  50px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
}
.new-btn:hover{
  color: rgb(87, 191, 225);
}