.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}
.articles .articles-detail {
  margin: 2rem;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.articles .articles-detail .aricle {
  background-color: rgb(235, 234, 234);
  display: flex;
  flex-direction: column;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  transition: 0.3s all;
  max-height: 690px;
}
.articles .articles-detail .aricle .article-img {
  padding: 10px;
  cursor: pointer;
  height: 200px;
  
}
.articles .articles-detail .aricle div {
  /* padding: 5px; */
}
.articles .articles-detail .aricle:hover {
  transform: translateY(3px);
}



.author-info{
    display: flex;
    align-items: center;
    gap: 5px;
  
   
}
.upper-part{
  flex: 1;

}
.profile-picture{
max-width: 40px;
height: 40px;
border-radius: 50%;
}
.article-title{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.created-date{
  font-style: italic;
}
.article-title h3{
  padding: 10px;
}
.article-title p, .author-info {
  padding: 0 10px;
}
.email-btn{
  position: absolute;
  left: 1rem;
  top: -1rem;
}