.new-article{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-info{
    margin: 2rem 0;
    display: flex;
    align-items: center;
}
.img-info input{
    border: none;
    padding: 10px;
    background-color: rgb(226, 226, 226);
    margin-right: 1rem;
    height: 150px;
    
}

.img-info img{
    max-width: 250px;
    height: 150px;
}


.img-info Button{
    margin-left: 20px;
    font-size: 18px;
    max-height: 50px;
}
.author-info{
    display: flex;
    margin-bottom: 1rem;
    
}
.author-info div label{
  
    font-size: 18px;
    font-weight: 500;
    margin-right: 1rem;
    
}
.author-info div input{
    padding: 10px 0;
    font-size: 18px;
}
.author-info div input:focus{
    outline: none;
}
.react-quill{
    padding: 20px 0;
    border: 2px dotted gray;
    margin: 1rem 0;
    max-width: 800px;
}